body{
    font-family: 'Work Sans', sans-serif;
}

.logo{
    display: flex;
    gap: 20px;
}
.logo-photo{
    width: 70px;
    height: 30px;
    margin-top: 20px;
}
.gamer{
    color: deeppink;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.navi-container{
    display: flex;
    justify-content: space-between;
}
.para-one, .para-two{
    margin-right: 20px;
}
.box{
    display: flex;
    gap: 10px;
    width: 200px;
    height: 30px;
    background-color: rgba(11, 2, 35, 0.10);
    justify-content: center;
    padding-top: 5px;
    margin-top: 13px;
}
.nav-photo{
    display: flex;
}
.nav-photo-one{
    width: 33px;
    height: 20px;
    cursor: pointer;
}
.nav-photo-two{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.head-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: -80px;
}
.heading{
    color: black;
    font-size: 48px;
    margin-bottom: -100px;
}
.heading-one{
    background: linear-gradient( 45deg, #F948B2 0%, #8758F1 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}
.box-head{
    
    width: 355px;
    background-image: url("images/Group\ 14.png");
    
}
.head-content{
    gap: 30px;
}
.header-photo{
    width: 711px;
    height: 600px;
}
.Button-class{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}
.btn{
    width: 130px;
    height: 45px;
    background-color: #F948B2;
    border-radius: 30px;
    border-color: #F948B2;
    cursor: pointer;
    color: white;
    font-size: 15px;
}
.btn-1{
    width: 130px;
    height: 45px;
    background-color: #4EC5F7;
    border-radius: 30px;
    border-color: #4EC5F7;
    cursor: pointer;
    color: white;
    font-size: 15px;
}
.third-page{
    display: flex;
    justify-content: space-between;
    background-color: #f8d7eb;
    padding-left: 140px;
    padding-right: 140px;
    margin-top: 70px;
    
}
.btn-two{
    width: 130px;
    height: 45px;
    background-color: #F948B2;
    border-radius: 30px;
    border-color: #F948B2;
    cursor: pointer;
    color: white;
    font-size: 15px;
    margin-left: 300px;
}
.third-page-photo{
    width: 700px;
}
.heade{
    background: linear-gradient( 45deg, #F948B2 0%, #8758F1 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    text-transform: uppercase;
    text-align: right;
}
.right-side{
    justify-content: space-between;
}
.short-head{
    color: #534C64;
}
.thir-page-para, .short-head{
    text-align: right;
}
.fourth-head{
    font-size: 50px;
    text-align: center;
}
.fourth-photo{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding-left: 140px;
    padding-right: 140px;
}
.fourth-para{
    font-size: 18px;
    text-align: center;
    padding-bottom: 15px;
}
.photo{
    width: 242px;
}
.fiftp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    padding-left: 140px;
    padding-right: 140px;
}
.horse-photo{
    width: 400px;
   
    
}

.para-three{
    padding-left: 200px;
}

.six{
    padding-left: 140px;
    padding-right: 140px;

}
.game-type p{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}
.game-type{
    display: flex;
    text-align: center;
    align-items: center;
    width: 281px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
    gap: 1rem;
    border: 1px solid transparent;
    padding: 0.5rem;
    margin: 0.5rem;
}
.games{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.game-type:hover{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #FF42A5;
    cursor: pointer;
}
footer{
    background: #0B0223;
    width: 100%;
}
footer .site-name{
    color: white;
}
footer .site-part ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.go-tos ul{
    display: flex;
    justify-content: center;
    gap: 1.5em;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 2em;
}

.footer-content{
    padding: 50px;
}
.footer-logos{
    display: flex;
    justify-content: center;
    gap: 1.5em;
    height: 2em;
    margin: 2em;
}
.privacys{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin: 2em;
}
.privacys ul{
    display: flex;
    justify-content: center;
    gap: 1.5em;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin: 2em;
}
.privacys a{
    color: rgba(255, 255, 255, 0.60);
}
.go-tos a{
    color: white;
}

/*media*/

