body{
    font-family: 'Work Sans', sans-serif;
}

.logo{
    display: flex;
    gap: 20px;
}
.logo-photo{
    width: 70px;
    height: 30px;
    margin-top: 20px;
}
.gamer{
    color: deeppink;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.navi-container{
    display: flex;
    justify-content: space-between;
}
.para-one, .para-two{
    margin-right: 20px;
}
.box{
    display: flex;
    gap: 10px;
    width: 200px;
    height: 30px;
    background-color: rgba(11, 2, 35, 0.10);
    justify-content: center;
    padding-top: 5px;
    margin-top: 13px;
}
.nav-photo{
    display: flex;
}
.nav-photo-one{
    width: 33px;
    height: 20px;
    cursor: pointer;
}
.nav-photo-two{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.head-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.heading{
    color: black;
    font-size: 48px;
}
.heading-one{
    background: linear-gradient( 0deg, #F948B2 0%, #8758F1 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
}
.box-head{
    width: 355px;
    background-image: url("images/Group\ 14.png");
    
}
.head-content{
    gap: 30px;
}
.header-photo{
    width: 711px;
    height: 600px;
}